# Task 1

## 1.1 Cleaning Data

### 1.1.1 
In the file climbing_statistics.csv, find the rows where both the date and route are identical, and write commands that aggregate their information as follows: (i) obtain the total number of Attempts and Successes for the same route and date; (ii) compute the percentage of successful attempts to summit for the same route and date. **Note: In most datasets, there will be faulty or incomplete data. If there are any rows with inconsistent data based on your computations above, eliminate them from your data set.**

First and foremost, we load the data as a dataframe, using pandas. To get a feel for the set, use the head method to see the first 5 datapoints.

In [110]:
import pandas as pd

c_data = pd.read_csv("climbing_statistics.csv")
c_data.head()

,Date,Route,Attempted,Succeeded,Success Percentage
0,11/27/2015,Disappointment Cleaver,2,0,0.0
1,11/21/2015,Disappointment Cleaver,3,0,0.0
2,10/15/2015,Disappointment Cleaver,2,0,0.0
3,10/13/2015,Little Tahoma,8,0,0.0
4,10/9/2015,Disappointment Cleaver,2,0,0.0

To motivate the aggregation, we can find entries that have the same date and routes. For example, Disappointment Cleaver on 9/9/2015

In [112]:
c_data[(c_data["Route"] == "Disappointment Cleaver") & (c_data["Date"] == "9/9/2015")]

        Date                   Route  Attempted  Succeeded  Success Percentage
70  9/9/2015  Disappointment Cleaver          2          2            1.000000
71  9/9/2015  Disappointment Cleaver          2          0            0.000000
72  9/9/2015  Disappointment Cleaver         12         10            0.833333

We see that we've got three rows for this date/route. Pandas allows us to use group rows based on a set of columns using the groupby aggregator. We can then immediately sum all the columns not used in the grouping, keeping in mind we're going to have to recalculate the success percentages. This is an easy manipulation, and is done here.

As a quick check, we look at the output for the same date/route grouping and see it matches the sums of the previous three rows.

In [113]:
c_data = c_data.groupby(["Date", "Route"]).sum().reset_index()
#reset index to keep date and route as proper columns and not indices
c_data["Success Percentage"] = c_data["Succeeded"]/c_data["Attempted"]
c_data[(c_data["Route"] == "Disappointment Cleaver") & (c_data["Date"] == "9/9/2015")]

,Date,Route,Attempted,Succeeded,Success Percentage
1015,9/9/2015,Disappointment Cleaver,16,12,0.75

### 1.1.2
In the file Rainier_Weather.csv, delete all columns that do not contain any information about weather conditions on the given date.

Similarly to the climbing data, we first have a look at the data set. Quickly, we notice that there are 0 entries for the AVG daily wind speed, and looking further into the dataset find some for other columns as well.

Quickly, we notice that the column "Battery Voltage AVG" seems a bit out of place...

In [92]:
w_data = pd.read_csv("Rainier_Weather.csv")
w_data.head()

,Date,Battery Voltage AVG,Temperature AVG,Relative Humidity AVG,Wind Speed Daily AVG,Wind Direction AVG,Solar Radiation AVG
0,12/31/2015,13.845000,19.062917,21.870833,21.977792,62.325833,84.915292
1,12/30/2015,13.822917,14.631208,18.493833,3.540542,121.505417,86.192833
2,12/29/2015,13.834583,6.614292,34.072917,0.000000,130.291667,85.100917
3,12/28/2015,13.710417,8.687042,70.557917,0.000000,164.683750,86.241250
4,12/27/2015,13.362500,14.140417,95.754167,0.000000,268.479167,31.090708

We want

In [93]:
#Create a boolean dataframe, and check that all the columns are not equal to 0 to get a list of T/F...
w_data = w_data[(w_data[w_data.columns] != 0).all(axis=1)]
w_data.head()

,Date,Battery Voltage AVG,Temperature AVG,Relative Humidity AVG,Wind Speed Daily AVG,Wind Direction AVG,Solar Radiation AVG
0,12/31/2015,13.845000,19.062917,21.870833,21.977792,62.325833,84.915292
1,12/30/2015,13.822917,14.631208,18.493833,3.540542,121.505417,86.192833
29,12/2/2015,13.709583,23.517917,64.870833,9.529833,275.591667,70.777208
30,12/1/2015,13.606250,17.996250,88.892500,30.362083,302.920833,49.943667
31,11/30/2015,13.571250,21.930833,49.672083,29.427375,283.183333,69.432250

### 1.1.3
Merge the two CSV files into one file containing all the above data by matching the dates such that each row contains a date and route and all the corresponding columns with the weather variables and the climbing statistics. The resulting merged file constitutes your data set for training.

In [94]:
training_set = pd.merge(c_data, w_data, how="inner")
training_set.to_csv(r"training_set.csv")
training_set.head()

,Date,Route,Attempted,Succeeded,Success Percentage,Battery Voltage AVG,Temperature AVG,Relative Humidity AVG,Wind Speed Daily AVG,Wind Direction AVG,Solar Radiation AVG
0,1/24/2015,Gibralter Ledges,4,0,0.0,13.641250,35.250833,59.772917,18.048458,271.591667,3.093750
1,1/24/2015,Ingraham Direct,4,0,0.0,13.641250,35.250833,59.772917,18.048458,271.591667,3.093750
2,10/13/2015,Little Tahoma,8,0,0.0,13.532083,40.979583,28.335708,19.591167,279.779167,176.382667
3,10/15/2015,Disappointment Cleaver,2,0,0.0,13.461250,46.447917,27.211250,17.163625,259.121375,138.387000
4,10/2/2015,Disappointment Cleaver,2,0,0.0,13.505000,36.064167,47.017375,6.445917,247.318333,176.265542